<div>
  <div>
    <a routerLink="/films">
      <img src="../../assets/Ressource/films.jpeg" alt="Films" />
      <p>Films</p>
    </a>
  </div>
  <div>
    <a routerLink="/people">
      <img src="../../assets/Ressource/people.jpeg" alt="People" />
      <p>People</p>
    </a>
  </div>
  <div>
    <a routerLink="/starships">
      <img src="../../assets/Ressource/starships.jpeg" alt="Starships" />
      <p>Starships</p>
    </a>
  </div>
  <div>
    <a routerLink="/vehicles">
      <img src="../../assets/Ressource/vehicules.jpeg" alt="Vehicles" />
      <p>Vehicles</p>
    </a>
  </div>
  <div>
    <a routerLink="/species">
      <img src="../../assets/Ressource/species.jpeg" alt="Species" />
      <p>Species</p>
    </a>
  </div>
  <div>
    <a routerLink="/planets">
      <img src="../../assets/Ressource/planets.jpeg" alt="Planets" />
      <p>Planets</p>
    </a>
  </div>
</div>
