<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<div class="search-container" *ngIf="!isLoading">
  <label for="searchInput" class="search-label">Recherche :</label>
  <input
    type="text"
    id="searchInput"
    [(ngModel)]="searchQuery"
    class="search-input"
  />
  <button (click)="searchStarships()" class="search-button">Rechercher</button>
</div>

<div *ngIf="starshipsData">
  <h2>Starships</h2>
  <div class="cards">
    <div class="widthCard">
      <div
        *ngFor="let starship of starshipsData.results; let i = index"
        class="card"
        [ngClass]="{ 'expanded-card': expandedCardIndex === i }"
      >
        <h3>{{ starship.name }}</h3>
        <p><strong>Model:</strong> {{ starship.model }}</p>
        <p><strong>Starship Class:</strong> {{ starship.starship_class }}</p>
        <p><strong>Manufacturer:</strong> {{ starship.manufacturer }}</p>
        <p><strong>Cost in Credits:</strong> {{ starship.cost_in_credits }}</p>
        <p><strong>Length:</strong> {{ starship.length }}</p>
        <p><strong>Crew:</strong> {{ starship.crew }}</p>
        <p><strong>Passengers:</strong> {{ starship.passengers }}</p>
        <p>
          <strong>Max Atmosphering:</strong> {{ starship.max_atmosphering }}
        </p>
        <p>
          <strong>Hyperdrive Rating:</strong> {{ starship.hyperdrive_rating }}
        </p>
        <p><strong>MGLT:</strong> {{ starship.MGLT }}</p>
        <p><strong>Cargo Capacity:</strong> {{ starship.cargo_capacity }}</p>
        <p><strong>Consumables:</strong> {{ starship.consumables }}</p>

        <button (click)="toggleCard(i)">Toggle Card</button>

        <div
          class="expanded-content"
          [ngClass]="{ expanded: starship.expanded }"
        >
          <p><strong>Films:</strong></p>
          <ul>
            <li *ngFor="let filmUrl of starship.films">
              <a href="{{ filmUrl }}">{{ filmUrl }}</a>
            </li>
          </ul>

          <p><strong>Pilots:</strong></p>
          <ul>
            <li *ngFor="let pilotUrl of starship.pilots">
              <a href="{{ pilotUrl }}">{{ pilotUrl }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
