.menu {
  color: #ffe81f;
  padding: 10px;
  border-bottom: 2px solid #ffe81f;
}

.menu a {
  display: block;
  color: #ffe81f;
  text-decoration: none;
  font-size: 22px;
  margin: 10px 0;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.menu a:hover {
  color: #bf9b30;
}

.p-button {
  background-color: #ffe81f;
  color: #000;
  border: 1px solid #ffe81f;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.p-button:hover {
  background-color: #000;
  color: #ffe81f;
}
