<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <span class="p-float-label">
    <input pInputText formControlName="username" />
    <label htmlFor="username">Nom d'utilisateur</label>
  </span>

  <div *ngIf="registerForm.get('username')!.hasError('required')">
    Le nom d'utilisateur est requis.
  </div>
  <div *ngIf="registerForm.get('username')!.hasError('minlength')">
    Le nom d'utilisateur doit contenir au moins 3 caractères.
  </div>

  <span class="p-float-label">
    <input pInputText formControlName="email" />
    <label htmlFor="email">E-mail</label>
  </span>

  <div *ngIf="registerForm.get('email')!.hasError('required')">
    L'email est requis.
  </div>
  <div *ngIf="registerForm.get('email')!.hasError('email')">
    L'email doit être une adresse email valide.
  </div>
  <div class="pswInput">
    <p-password class="pswInput" formControlName="password">
      <ng-template pTemplate="header">
        <h6>Choisissez un mot de passe</h6>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="mt-2">Suggestions</p>
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>Au moins une minuscule</li>
          <li>Au moins une majuscule</li>
          <li>Au moins un chiffre</li>
          <li>Minimum 6 caractères</li>
        </ul>
      </ng-template>
    </p-password>
  </div>
  <div *ngIf="registerForm.get('password')!.hasError('required')">
    Le mot de passe est requis.
  </div>
  <div *ngIf="registerForm.get('password')!.hasError('minlength')">
    Le mot de passe doit contenir au moins 6 caractères.
  </div>

  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>
