<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<div class="search-container" *ngIf="!isLoading">
  <label for="searchInput" class="search-label">Recherche :</label>
  <input
    type="text"
    id="searchInput"
    [(ngModel)]="searchQuery"
    class="search-input"
  />
  <button (click)="searchPeople()" class="search-button">Rechercher</button>
</div>

<div *ngIf="peopleData">
  <h2>People</h2>
  <div class="cards">
    <div class="widthCard">
      <div
        *ngFor="let character of peopleData.results; let i = index"
        class="card"
        [ngClass]="{ 'expanded-card': expandedCardIndex === i }"
      >
        <h3>{{ character.name }}</h3>
        <p><strong>Birth Year:</strong> {{ character.birth_year }}</p>
        <p><strong>Eye Color:</strong> {{ character.eye_color }}</p>
        <p><strong>Gender:</strong> {{ character.gender }}</p>
        <p><strong>Hair Color:</strong> {{ character.hair_color }}</p>
        <p><strong>Height:</strong> {{ character.height }}</p>
        <p><strong>Mass:</strong> {{ character.mass }}</p>
        <p><strong>Skin Color:</strong> {{ character.skin_color }}</p>
        <p>
          <strong>Homeworld:</strong>
          <a href="{{ character.homeworld }}">{{ character.homeworld }}</a>
        </p>

        <button (click)="toggleCard(i)">Toggle Card</button>

        <div
          class="expanded-content"
          [ngClass]="{ expanded: character.expanded }"
        >
          <p><strong>Species:</strong></p>
          <ul>
            <li *ngFor="let speciesUrl of character.species">
              <a href="{{ speciesUrl }}">{{ speciesUrl }}</a>
            </li>
          </ul>

          <p><strong>Starships:</strong></p>
          <ul>
            <li *ngFor="let starshipUrl of character.starships">
              <a href="{{ starshipUrl }}">{{ starshipUrl }}</a>
            </li>
          </ul>

          <p><strong>Vehicles:</strong></p>
          <ul>
            <li *ngFor="let vehicleUrl of character.vehicles">
              <a href="{{ vehicleUrl }}">{{ vehicleUrl }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
