<div>
  <label for="searchInput">Recherche :</label>
  <input type="text" id="searchInput" [(ngModel)]="searchQuery" />
  <button (click)="searchPeople()">Rechercher</button>
</div>

<div *ngIf="peopleData">
  <h2>people</h2>
  <ul>
    <li *ngFor="let character of peopleData.results">
      <h3>{{ character.name }}</h3>
      <p><strong>Birth Year:</strong> {{ character.birth_year }}</p>
      <p><strong>Eye Color:</strong> {{ character.eye_color }}</p>
      <p><strong>Gender:</strong> {{ character.gender }}</p>
      <p><strong>Hair Color:</strong> {{ character.hair_color }}</p>
      <p><strong>Height:</strong> {{ character.height }}</p>
      <p><strong>Mass:</strong> {{ character.mass }}</p>
      <p><strong>Skin Color:</strong> {{ character.skin_color }}</p>
      <p><strong>Homeworld:</strong></p>
      <ul>
        <li *ngFor="let character of peopleData.results">
          <h3>{{ character.name }}</h3>
          <p><strong>Birth Year:</strong> {{ character.birth_year }}</p>
          <p><strong>Eye Color:</strong> {{ character.eye_color }}</p>
          <p><strong>Gender:</strong> {{ character.gender }}</p>
          <p><strong>Hair Color:</strong> {{ character.hair_color }}</p>
          <p><strong>Height:</strong> {{ character.height }}</p>
          <p><strong>Mass:</strong> {{ character.mass }}</p>
          <p><strong>Skin Color:</strong> {{ character.skin_color }}</p>
          <p>
            <strong>Homeworld:</strong>
            <a href="{{ character.homeworld }}">{{ character.homeworld }}</a>
          </p>
          <p><strong>Species:</strong></p>
          <ul>
            <li *ngFor="let speciesUrl of character.species">
              <a href="{{ speciesUrl }}">{{ speciesUrl }}</a>
            </li>
          </ul>

          <p><strong>Starships:</strong></p>
          <ul>
            <li *ngFor="let starshipUrl of character.starships">
              <a href="{{ starshipUrl }}">{{ starshipUrl }}</a>
            </li>
          </ul>

          <p><strong>Vehicles:</strong></p>
          <ul>
            <li *ngFor="let vehicleUrl of character.vehicles">
              <a href="{{ vehicleUrl }}">{{ vehicleUrl }}</a>
            </li>
          </ul>
        </li>
      </ul>

      <p><strong>Species:</strong></p>
      <ul>
        <li *ngFor="let speciesUrl of character.species">
          <a href="{{ speciesUrl }}">{{ speciesUrl }}</a>
        </li>
      </ul>

      <p><strong>Starships:</strong></p>
      <ul>
        <li *ngFor="let starshipUrl of character.starships">
          <a href="{{ starshipUrl }}">{{ starshipUrl }}</a>
        </li>
      </ul>

      <p><strong>Vehicles:</strong></p>
      <ul>
        <li *ngFor="let vehicleUrl of character.vehicles">
          <a href="{{ vehicleUrl }}">{{ vehicleUrl }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
